/* Google font link */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: rgb(24, 26, 32);
  color: #eaecef;
}

.color {
  color: rgb(252, 213, 53);
}
.color-1 {
  color: #f0b90b;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* header style  */
nav {
  background-color: rgb(24, 26, 32);
  color: #eaecef;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 14px;
  font-weight: 600;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
}

.logo {
  width: 160px;
  font-size: 1.5em;
  margin-left: 24px;
  margin-right: 24px;
}
.left-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.menu li {
  padding: 25px 0px;
  text-align: center;
}

.menu a {
  text-decoration: none;
  color: white;
  display: block;
}

.menu-icon {
  font-size: 1.5em;
  cursor: pointer;
  display: none;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1e2329;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: left;
  width: fit-content;
}
.dropdown-content-2 {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
  padding: 20px;
  inset-inline-start: -200px;
  top: 65px;
  transition: 3000ms;
}
.dropdown:hover .dropdown-content-right {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
  padding: 20px;
  inset-inline-start: -350px;
  top: 50px;
  transition: 0ms;
}

.dropdown-content li {
  display: flex;
  padding: 10px;
  color: #eaecef;
  align-items: center;
  list-style: none;
}
.dropdown-basic-icon {
  font-size: 18px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid gray;
  border-radius: 50%;
}
.dropdown-basic-info {
  width: 250px;
  text-align: left;
}
.dropdown-content li:last-child {
  border-bottom: none;
}

.right-nav {
  display: flex;
  padding-right: 24px;
  gap: 20px;
  align-items: center;
  list-style: none;
}
.nav-btn {
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.register {
  padding: 6px 8px;
  background-color: rgb(252, 213, 53);
  color: black;
  border-radius: 5px;
  font-weight: bold;
  outline: none;
  border: none;
}
.hover {
  color: #eaecef;
}
.menu a:hover,
.hover:hover {
  color: rgb(252, 213, 53);
}
.fa-gift {
  margin-right: 5px;
}
label {
  padding-right: 24px;
}

.sidenav {
  display: none;
  margin: 0;
  padding: 0;
  z-index: 1000;
  position: fixed;
  right: 0;
  background-color: #22262d;
  transition: 0.5s;
  height: 100vh;
}
.sidenav a,
.dropdown-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}
.active + .dropdown-content-2 {
  display: block;
}
.dropdown-content-2 {
  display: none;
}
.dropdown-btn-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-container-0 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 0 30px;
}

.button-0 {
  padding: 10px 15px;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.3s;
}

.login-button-0 {
  background-color: #2b3139;
  color: #fff;
}

.register-button-0 {
  background-color: #fcd535;
  color: #0b0e11;
}

.input-container {
  position: relative;
  padding: 8px 30px;
}

.sidenav input {
  padding: 10px;
  width: 100%;
  border: 1px solid #2b3139;
  border-radius: 5px;
  outline: none;
  background: #181a20;
}
.input-container input {
  padding: 10px;
  width: 100%;
  border: 1px solid #2b3139;
  border-radius: 5px;
  outline: none;
  background: #181a20;
}
.sidenav i {
  margin-right: 10px;
}
/* header style end */

/* banner style start */

.banner-container {
  display: flex;
  max-width: 1200px;
  height: 622px;
  margin: auto;
  justify-content: space-between;
  padding: 48px 0px;
  margin-top: 60px;
}
.banner-title {
  font-size: 38px;
  font-weight: 400;
  line-height: 85px;
  margin-top: 33px;
  margin-bottom: 40px;
}
.users-trust {
  display: flex;
  flex-direction: column;
}
.input-register {
  width: 496px;
  margin: 20px 0px;
}
.input-register p {
  font-size: 14px;
  font-weight: 700;
}
.banner-input {
  box-sizing: border-box;
  font-size: 14px;
  padding: 0px 16px;
  height: 54px;
  width: 320px;
  background-color: inherit;
  color: #eaecef;
  outline: none;
  border: 1px solid rgb(252, 213, 53);
  opacity: 1;
  border-radius: 10px;
}
.banner-register {
  padding: 16px 52px;
  border: none;
  border-radius: 10px;
  background-color: #fcd535;
  font-size: 16px;
  font-weight: 500;
}
.input-register p {
  margin-top: 20px;
}
.banner-icons {
  display: flex;
  gap: 50px;
  margin-top: 90px;
}
.banner-icons-1 p {
  margin-bottom: 20px;
}
.fa-qrcode {
  font-size: 26px;
  padding: 11px;
  border: 1px solid gray;
  border-radius: 10px;
}
.banner-img {
  width: 24px;
  padding: 11px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-right: 20px;
}

.crypto {
  width: 65%;
  height: 220px;
  padding: 16px;
  background-color: #1e2329;
  border-radius: 20px;
  margin-left: auto;
  margin-bottom: 16px;
}

.crypto-1 {
  display: flex;
  align-items: center;
  padding: 10px 8px;
}
.crypto-1 img {
  width: 30px;
  height: 30px;
}
.crypto-1 h4 {
  font-weight: 700;
  font-size: 16px;
}
#crypto-p {
  margin-left: 15px;
}
.dolor1 {
  margin-left: auto;
  margin-right: 50px;
}
.btc {
  display: flex;
  align-items: center;
}
.btc h4 {
  margin-left: 15px;
}
.btc h5 {
  margin-left: 4px;
}
.green-color {
  color: #0ecb81;
}

.small-bold {
  font-size: 12px;
}
.text-small {
  font-size: 14px;
  color: rgb(132, 142, 156);
  line-height: 24px;
  font-weight: 600;
}

.banner-info {
  width: 65%;
  height: 200px;
  padding: 16px;
  background-color: #1e2329;
  border-radius: 20px;
  margin-left: auto;
  margin-bottom: 16px;
}
.banner-info h4 {
  margin-bottom: 10px;
  margin-left: 10px;
}
.banner-info p {
  margin-left: 10px;
  margin-top: 16px;
}

.banner-countdown {
  width: 65%;
  padding: 16px;
  background-color: #1e2329;
  border-radius: 20px;
  margin-left: auto;
}
.countdown {
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
  width: 60%;
}
.banner-countdown h5 {
  margin: 5px 0px 10px 10px;
}

/* banner style end */
